@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Raleway:ital,wght@1,200;1,800&display=swap");
/*
font-family: 'Lato', sans-serif;
font-family: 'Raleway', sans-serif;
*/
html {
  font-size: 10px;
}

body {
  font: 400 1.4rem 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
}

h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong {
  font-weight: 800;
}

h1 {
  font-size: 8.8rem;
}

body {
  background: #ddd;
}

hr {
  background: #f5c519;
}

.banner {
  padding: 1.6rem 0;
  -webkit-box-shadow: 0 0 2rem 0 rgba(51, 51, 51, 0.7);
          box-shadow: 0 0 2rem 0 rgba(51, 51, 51, 0.7);
  background: #333;
}

.banner h1 {
  position: relative;
  display: inline-block;
  font-size: 4.8rem;
  color: #fff;
}

.banner h1 strong {
  font-size: 3.6rem;
  color: #f5c519;
}

.banner h1:before {
  content: 'React component state tutorial';
  display: block;
  position: absolute;
  bottom: 0;
  right: -0.8rem;
  font-size: 0.6rem;
  border-top: solid 0.2rem #fff;
  padding: 0.4rem 0.8rem 0.4rem 0.7rem;
  background: #333;
  font-weight: 800;
}

.movies-info {
  margin-top: 8rem;
}

.movies-info .card-columns {
  text-align: center;
}

.movies-info .card-columns .card {
  border: 0;
  border-radius: 2.8rem;
  -webkit-box-shadow: 0 0 3rem 0 rgba(51, 51, 51, 0.7);
          box-shadow: 0 0 3rem 0 rgba(51, 51, 51, 0.7);
  margin: 4rem 0 2rem 0;
}

.movies-info .card-columns .card.good .card-body {
  background: #f5c519;
}

.movies-info .card-columns .card.good .card-body h5 {
  color: #fff;
}

.movies-info .card-columns .card.good .card-body hr {
  background: #fff;
}

.movies-info .card-columns .card.good .card-body .card-text .label.gray, .movies-info .card-columns .card.good .card-body .card-text .label.blue, .movies-info .card-columns .card.good .card-body .card-text .label.green, .movies-info .card-columns .card.good .card-body .card-text .label.yellow, .movies-info .card-columns .card.good .card-body .card-text .label.red {
  border: solid 0.1rem #fff;
  color: #fff;
}

.movies-info .card-columns .card .delete-card {
  position: absolute;
  border: solid 0.2rem #fff;
  background: #333;
  color: #fff;
  top: -1rem;
  right: 2rem;
  z-index: 1;
  padding: 0.4rem 1.6rem;
  border-radius: 2rem;
  -webkit-transition: all 100ms ease;
  transition: all 100ms ease;
}

.movies-info .card-columns .card .delete-card:hover {
  background: #f5c519;
}

.movies-info .card-columns .card .card-header {
  height: 45rem;
  background-color: #333;
  position: relative;
  overflow: hidden;
  border-radius: 2.4rem 2.4rem 0 0;
}

.movies-info .card-columns .card .card-body {
  background: #333;
  color: #fff;
  text-align: left;
  padding: 3rem;
  border-top: solid 0.1rem #fff;
  position: relative;
  border-radius: 0 0 2.4rem 2.4rem;
}

.movies-info .card-columns .card .card-body .rates {
  position: absolute;
  background: #333;
  border: solid 0.2rem #fff;
  padding: 1rem;
  border-radius: 50%;
  top: -4rem;
  right: 2rem;
  width: 6rem;
  height: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8rem;
}

.movies-info .card-columns .card .card-body .rates .star {
  color: #f5c519;
  font-size: 1rem;
  margin-left: 0.5rem;
}

.movies-info .card-columns .card .card-body .card-title {
  font-size: 2.4rem;
  margin-bottom: 2rem;
  color: #f5c519;
}

.movies-info .card-columns .card .card-body .card-text {
  font-size: 1.2rem;
  line-height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.movies-info .card-columns .card .card-body .card-text small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.movies-info .card-columns .card .card-body .card-text small .label {
  margin-left: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.2rem 1.6rem;
  border-radius: 2.4rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.movies-info .card-columns .card .card-body .card-text small .label.gray {
  border: solid 0.1rem #ddd;
}

.movies-info .card-columns .card .card-body .card-text small .label.blue {
  border: solid 0.1rem #17a2b8;
  color: #17a2b8;
}

.movies-info .card-columns .card .card-body .card-text small .label.green {
  border: solid 0.1rem #9c0;
  color: #9c0;
}

.movies-info .card-columns .card .card-body .card-text small .label.yellow {
  border: solid 0.1rem #f5c519;
  color: #f5c519;
}

.movies-info .card-columns .card .card-body .card-text small .label.red {
  border: solid 0.1rem #ee506a;
  color: #ee506a;
}

.movies-info .actors span {
  display: inline-block;
  margin-right: 1rem;
}
/*# sourceMappingURL=index.css.map */